<div id='header' class='solarizedbg_base2 solarizedfg_base1'>
<span class='solarizedfg_blue'>S</span>
<span class='solarizedfg_violet'>w</span>
<span class='solarizedfg_blue'>X</span>
<span class='solarizedfg_base00'>M</span>
<span class='solarizedfg_base01'>o</span>
<span class='solarizedfg_base02'>d</span>
<span class='solarizedfg_base03'>e</span>

	<div id='mainmenu'>
		<a href='/list' id='table-name'></a><br>
		<button id='loginlogout'>LOGIN</button>
		<div id='saveconfig'></div>
	</div>

	<div id='headlert'>
	</div>
</div>

<div style='clear:both'>
</div>

<div class='solarizedbg_base3 solarizedfg_base1 current' id='maintab'>
</div>

<div class='solarizedbg_base3 solarizedfg_base1' id='detailtab'>
</div>

<div id='plus-menu'>
</div>
<div id='context-menu'>
</div>
<div id='refreshbutt'>
</div>


